@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;500&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Poppins';
    color:var(--VeryLightGray);
}
img{
    max-inline-size: 100%;
    block-size: auto;
    width: 40px;
    float: right;
    margin-top: 30px;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 1%, 64%);
}
body{
    background-color: vr(--VeryLightGray);
}
main{
    /*background-color: bisque;*/
    max-width:300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
}
h3{
    color: var(--VeryDarkBlue);
    font-size: 1.2rem;
    text-align: center;
}
h4{
    color: var(--VeryDarkBlue);
}
p{
    font-size: 0.7rem;
    margin-top: 10px;
}
.top_header{
    margin-top: 30px;
}
.paragraph_one{
    font-size: 0.7rem;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    text-align: center;    
}
.cards{
    background-color: white;
    border-radius: 5px;
    height: 200px;
    margin-top: 50px;
    /*box-shadow: 2px 2px 2px 2px #888888;*/
}
.supervisor_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.team_builder_card{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.karma_card{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.calculator_card{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line_1{
    height: 5px;
    background:var(--Cyan);
    border-radius: 3px 3px 0 0;
}
.supervisor{
    padding: 30px;
    line-height: 20px;
}
.line_2{
    height: 5px;
    background:var(--Red);
    border-radius: 3px 3px 0 0;
}
.team_builder{
    padding: 30px;
    line-height: 20px;
}
.line_3{
    height: 5px;
    background:var(--Orange);
    border-radius: 3px 3px 0 0;
}
.karma{
    padding: 30px;
    line-height: 20px;
}
.line_4{
    height: 5px;
    background:var(--Blue);
    border-radius: 3px 3px 0 0;
}
.calculator{
    padding: 30px;
    line-height: 20px;
}
